* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.5), rgba(12, 3, 51, 0.5)),
    url("images/Sign1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
}
nav .logo {
  width: 100px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
nav ul li ::after {
  content: "";
  height: 3px;
  width: 0;
  background: #4a55a2;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover ::after {
  width: 100%;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
  transition: 0.5s;
}
.content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.content button {
  position: relative;
  background: transparent;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 14px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 1;
  border: 2px solid #4a55a2;
  overflow: hidden;
}
span {
  width: 0;
  background: #4a55a2;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.content button:hover span {
  width: 100%;
}
.content button:hover {
  border: none;
  color: #fff;
}
/* .back-video {
  padding: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: 100vh;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: 100vh;
  }
} */
